.body {
    font-family: "Roboto", "Montserat", "Open Sans", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

/*----------header---------*/

.header {
    background: #fff;
}

.nav {}

.logo {
    font-weight: 700;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.nav .accent {
    color: #2e2f42;
}

.fotter .accent {
    color: #f4f4fd;
}

.header-list {}

.header-item {}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
}

.header-item-link:hover, 
.header-item-link:focus {
    /*text-decoration: underline;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/*.header-item-link:active {
    text-decoration: underline;
}*/


.contacts {
    font-style: normal;
}

.contacts-list {
}

.contacts-item a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-item a:hover,
.contacts-item a:focus {
    color:#404bbf;
}


.header-item-link {
    color: currentColor;
}

/*----------main---------*/

.main {}

.main-content {
    background: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;   
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
}

.body .main-btn {
    font-family: "Roboto", sans-serif;
}

/*----------content---------*/

.content {
    background-color: #FFFFFF;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.content-list {}

.content-item {}

.content-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.content-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----------our team---------*/

.our-team {
    background: #f4f4fd;
}

.our-team-list {}

.our-team-item {}

.our-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*----------portfolio---------*/

.portfolio {}

.portfolio-list {}

.portfolio-item {}

.porfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----------footer---------*/

.fotter {
   background: #2e2f42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}